.carousel-inner {
  width: 95%;
  height: 250px;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 60px;
  background-color: #514b4b;
  color: antiquewhite;
  text-align: center;
  display: flex;
  align-items: center;
  padding-bottom: 20px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  width: 100%;
  height: 65px;
  background: #000000; }

main {
  flex: 1; }
  main div section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 836px;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.727);
    gap: 10px; }
    main div section h1 {
      font-size: 4rem;
      color: #f0ede9; }
    main div section h2 {
      font-size: 1.5rem;
      color: #f0ede9; }
    main div section p {
      width: 75%;
      font-size: 1rem;
      color: #f0ede9; }

.section-principal {
  width: 100%;
  background-image: url("../../Assets/img/main-fondo.jpg");
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center; }

footer {
  align-items: center; }
  footer section {
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 0px; }
    footer section div {
      width: 100%;
      background-color: black;
      margin-top: 2.5rem;
      margin-bottom: 0; }
      footer section div p {
        color: antiquewhite;
        padding: 10px;
        margin-left: 20px;
        width: 100%; }
    footer section h3 {
      color: antiquewhite;
      font-size: .875rem;
      text-align: right;
      margin-right: 25px;
      margin-top: 12px; }

header {
  position: fixed;
  width: 100%;
  height: 65px;
  margin-top: 0px;
  background: black;
  z-index: 3; }
  header section {
    display: flex;
    position: relative;
    justify-content: space-between; }
    header section div {
      display: flex;
      position: relative;
      top: 7px;
      left: 70px;
      height: 55px; }
    header section a img {
      width: 90px; }
  header nav {
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: right;
    flex-direction: row-reverse;
    align-items: center;
    flex-wrap: nowrap;
    position: relative;
    padding: 0 70px;
    z-index: 3; }
    header nav label {
      padding: 10px;
      margin-top: -5px;
      margin-left: 80px;
      cursor: pointer; }
    header nav input {
      display: none; }
    header nav ul {
      width: 100%;
      background-image: url("../../Assets/img/textura.jpeg");
      position: absolute;
      top: 65px;
      left: -50px;
      display: flex;
      height: 0;
      overflow: hidden;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 1.5rem; }
      header nav ul li {
        list-style: none;
        font-family: sans-serif;
        font-size: 1.5rem; }
      header nav ul a {
        text-decoration: none;
        color: #f0ede9;
        text-shadow: 5px 5px 5px black; }

input:checked + ul {
  height: 100vh;
  z-index: 3; }

body {
  background-color: #b2b1b1; }
  body main section {
    margin-top: 0;
    justify-content: center;
    width: 100%; }
    body main section h2 {
      margin: 40px 30px;
      font-size: 2rem; }
    body main section article {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(6.25rem, 21.875rem));
      grid-template-rows: 18.75rem;
      width: 100%;
      column-gap: 0px;
      row-gap: 40px;
      margin: auto;
      justify-content: center;
      align-self: center;
      z-index: -5;
      margin-bottom: 60px; }
      body main section article div {
        display: flex;
        position: relative;
        width: 75vw;
        max-width: 250px;
        min-width: 100px;
        height: 300px;
        flex-direction: column;
        align-items: center;
        justify-self: center; }
        body main section article div img {
          width: 90%; }
        body main section article div p {
          position: absolute;
          bottom: -10px;
          right: 25px; }
        body main section article div button {
          position: absolute;
          border: none;
          border-radius: 5px;
          bottom: -5px;
          width: 100px;
          height: 1.5rem;
          background-color: #7F2213; }
          body main section article div button a {
            text-decoration: none;
            color: antiquewhite; }

.descripcion {
  left: 15px;
  top: 2px; }

.button-ver-mas {
  display: flex;
  justify-content: center;
  position: relative;
  border: none;
  border-radius: 5px;
  width: 100px;
  height: 1.5rem;
  background-color: #7F2213;
  margin: auto;
  margin-bottom: 10px; }

.button-ver-mas a {
  text-decoration: none;
  color: antiquewhite; }

#auto:checked ~ #imagenes .motos {
  display: none; }

#manual:checked ~ #imagenes .automatico {
  display: none; }

#automatico:checked ~ #imagenes .manual {
  display: none; }

#fiat:checked ~ #imagenes .renault, #fiat:checked ~ #imagenes .motos {
  display: none; }

#renault:checked ~ #imagenes .fiat, #renault:checked ~ #imagenes .motos {
  display: none; }

#motos:checked ~ #imagenes .auto, #motos:checked ~ #imagenes .renault, #motos:checked ~ #imagenes .fiat {
  display: none; }

input {
  margin-bottom: 30px;
  margin-left: 20px; }

label {
  font-size: 1.125rem; }

.main-oportunidades {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center; }

.titulo-oportunidades {
  margin-top: 100px;
  margin-left: 30px;
  margin-bottom: 40px;
  font-size: 2rem; }

.section-oportunidades {
  width: 90%; }

html {
  height: 100%; }

main {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  width: 100%;
  margin: 0;
  padding-top: 85px;
  padding-bottom: 125px; }
  main section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; }
    main section h1 {
      font-size: 2rem;
      color: #161515; }
    main section h3 {
      font-size: 1rem;
      width: 50%;
      text-align: center; }
    main section p {
      font-size: 0.875rem;
      width: 75%;
      text-align: center; }

.cobertura-full {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px; }
  .cobertura-full .conteiner-cobertura {
    width: 250px;
    height: 210px;
    text-align: center;
    background-color: rgba(29, 28, 28, 0.584);
    border-radius: 10px;
    color: #d8d4d4; }
    .cobertura-full .conteiner-cobertura h2 {
      font-size: 1.5rem;
      margin-top: 20px;
      margin-bottom: 10px; }
    .cobertura-full .conteiner-cobertura p {
      width: 80%;
      font-size: 0.875rem;
      margin: auto; }

.beneficios-full {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px; }
  .beneficios-full .conteiner-beneficios {
    width: 250px;
    height: 210px;
    text-align: center;
    background-color: rgba(29, 28, 28, 0.584);
    border-radius: 10px;
    color: #d8d4d4; }
    .beneficios-full .conteiner-beneficios h2 {
      font-size: 1.5rem;
      margin-top: 20px;
      margin-bottom: 10px; }
    .beneficios-full .conteiner-beneficios p {
      width: 80%;
      font-size: 0.875rem;
      margin: auto; }

.button-seguros {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 30px;
  margin: auto;
  margin-top: 40px;
  background-color: #CC3D1B;
  border: none;
  border-radius: 10px; }
  .button-seguros a {
    color: #f0ede9;
    text-decoration: none; }

.full-conteiner {
  display: flex;
  flex-direction: column;
  position: relative; }

main {
  font-family: sans-serif; }
  main section h1 {
    width: 70%;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: underline;
    margin-bottom: 20px; }
  main .permutas-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto; }
    main .permutas-section .div-listas {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 572px;
      height: 625px;
      background-color: rgba(250, 235, 215, 0.51);
      align-items: center;
      border-radius: 20px;
      padding: 10px 20px 20px 20px;
      margin: 5px; }
      main .permutas-section .div-listas h2 {
        width: 40%;
        text-align: center;
        font-size: 1.5rem;
        text-decoration: underline; }
      main .permutas-section .div-listas ul {
        display: flex;
        flex-direction: column;
        gap: 10px; }
        main .permutas-section .div-listas ul li {
          list-style: none;
          display: flex;
          flex-direction: column;
          gap: 5px; }
          main .permutas-section .div-listas ul li h3 {
            font-size: 0.875rem;
            text-align: left; }
          main .permutas-section .div-listas ul li p {
            text-align: left; }
      main .permutas-section .div-listas button {
        border: none;
        width: 180px;
        border-radius: 5px;
        background-color: #992E14;
        margin-top: 30px; }
        main .permutas-section .div-listas button a {
          text-decoration: none;
          color: #f0ede9; }

.consignaciones-box {
  margin-top: 68px; }

main {
  font-family: sans-serif;
  width: 100%; }
  main .atencion-personalizada {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 40px; }
    main .atencion-personalizada div h1 {
      font-size: 1.5rem;
      font-weight: bold;
      margin: auto;
      margin-bottom: 10px; }
    main .atencion-personalizada div p {
      width: 75%;
      font-size: 0.875rem;
      margin: auto;
      margin-bottom: 20px; }
    main .atencion-personalizada .div-atencion {
      display: flex;
      position: relative;
      min-width: 550px;
      height: 580px;
      border-radius: 15px;
      margin-top: 10px;
      margin: auto;
      padding-top: 20px;
      background-color: rgba(250, 235, 215, 0.51); }
      main .atencion-personalizada .div-atencion h2 {
        width: 80%;
        font-size: 1rem;
        margin: auto;
        margin-top: 10px;
        text-align: center;
        font-weight: bold; }
      main .atencion-personalizada .div-atencion ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        position: absolute;
        top: 60px; }
        main .atencion-personalizada .div-atencion ul li {
          list-style: none; }
          main .atencion-personalizada .div-atencion ul li h3 {
            font-size: 0.875rem;
            text-align: left;
            width: 250px;
            font-size: .875rem;
            font-weight: bold; }
          main .atencion-personalizada .div-atencion ul li p {
            text-align: left;
            margin-left: 0;
            width: 500px; }
      main .atencion-personalizada .div-atencion button {
        position: absolute;
        border: none;
        width: 180px;
        height: 24px;
        border-radius: 5px;
        background-color: #992E14;
        bottom: 40px;
        left: 180px;
        padding-top: 1px; }
        main .atencion-personalizada .div-atencion button a {
          text-decoration: none;
          color: #f0ede9; }

main .contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
  main .contact-form div .nombre {
    margin-left: 0; }
  main .contact-form div .apellido {
    margin-left: 0; }
  main .contact-form div .email {
    margin-left: 0; }
  main .contact-form .submit {
    margin-top: 10px; }
  main .contact-form div {
    display: flex;
    justify-content: right; }
