.carousel-inner {
  width: 95%;
  height: 250px;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 60px;
  background-color: #514b4b;
  color: antiquewhite;
  text-align: center;
  display: flex;
  align-items: center;
  padding-bottom: 20px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  width: 100%;
  height: 65px;
  background: #000000; }

main div section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 836px;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.727);
  gap: 10px; }
  main div section h1 {
    font-size: 4rem;
    color: #f0ede9; }
  main div section h2 {
    font-size: 1.5rem;
    color: #f0ede9; }
  main div section p {
    width: 75%;
    font-size: 1rem;
    color: #f0ede9; }

.section-principal {
  width: 100%;
  background-image: url("../../Assets/img/main-fondo.jpg");
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center; }

footer section {
  display: flex; }
  footer section div {
    width: 100%;
    height: 7.8125rem;
    background-color: black;
    margin-top: 2.5rem;
    margin-bottom: 0; }
    footer section div p {
      color: antiquewhite;
      padding: 10px;
      margin-left: 20px; }

header {
  position: fixed;
  width: 100%;
  height: 65px;
  background: black;
  z-index: 3; }
  header section {
    display: flex;
    position: relative;
    justify-content: space-between; }
    header section div {
      display: flex;
      position: relative;
      top: 6px;
      left: 70px;
      height: 55px; }
    header section a img {
      width: 90px; }
  header nav {
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: right;
    flex-direction: row-reverse;
    align-items: center;
    flex-wrap: nowrap;
    position: relative;
    padding: 0 70px;
    z-index: 3; }
    header nav label {
      padding: 10px;
      margin-top: -5px;
      margin-left: 80px;
      cursor: pointer; }
    header nav input {
      display: none; }
    header nav ul {
      width: 100%;
      background-image: url("../../Assets/img/textura.jpeg");
      position: absolute;
      top: 65px;
      left: -50px;
      display: flex;
      height: 0;
      overflow: hidden;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 1.5rem; }
      header nav ul li {
        list-style: none;
        font-family: sans-serif;
        font-size: 1.5rem; }
      header nav ul a {
        text-decoration: none;
        color: #f0ede9;
        text-shadow: 5px 5px 5px black; }

input:checked + ul {
  height: 100vh;
  z-index: 3; }

body {
  background-color: #b2b1b1; }
  body main section {
    justify-content: center;
    width: 100%; }
    body main section h2 {
      margin: 40px 30px;
      font-size: 2rem; }
    body main section article {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(6.25rem, 21.875rem));
      grid-template-rows: 18.75rem;
      width: 100%;
      column-gap: 0px;
      row-gap: 40px;
      margin: auto;
      justify-content: center;
      align-self: center;
      z-index: -5;
      margin-bottom: 60px; }
      body main section article div {
        display: flex;
        position: relative;
        width: 75vw;
        max-width: 250px;
        min-width: 100px;
        height: 300px;
        flex-direction: column;
        align-items: center;
        justify-self: center; }
        body main section article div img {
          width: 90%; }
        body main section article div p {
          position: absolute;
          bottom: -10px;
          right: 25px; }
        body main section article div button {
          position: absolute;
          border: none;
          border-radius: 5px;
          bottom: -5px;
          width: 100px;
          height: 1.5rem;
          background-color: #7F2213; }
          body main section article div button a {
            text-decoration: none;
            color: antiquewhite; }

.descripcion {
  left: 15px;
  top: 2px; }

.button-ver-mas {
  display: flex;
  justify-content: center;
  position: relative;
  border: none;
  border-radius: 5px;
  width: 100px;
  height: 1.5rem;
  background-color: #7F2213;
  margin: auto;
  margin-bottom: 10px; }

.button-ver-mas a {
  text-decoration: none;
  color: antiquewhite; }
