.carousel-inner {
  width: 95%;
  height: 250px;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 60px;
  background-color: #514b4b;
  color: antiquewhite;
  text-align: center;
  display: flex;
  align-items: center;
  padding-bottom: 20px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  width: 100%;
  height: 65px;
  background: #000000; }

main {
  padding-top: 0; }
  main div section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 836px;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.727);
    gap: 10px; }
    main div section h1 {
      font-size: 4rem;
      color: #f0ede9;
      margin-top: -20px; }
      @media (max-width: 450px) {
        main div section h1 {
          font-size: 3rem;
          padding-top: 0;
          margin-top: 100px; } }
      @media (max-width: 380px) {
        main div section h1 {
          margin-top: 50px; } }
      @media (max-width: 330px) {
        main div section h1 {
          font-size: 2.125rem; } }
    main div section h2 {
      font-size: 1.5rem;
      color: #f0ede9;
      text-align: center; }
      @media (max-width: 330px) {
        main div section h2 {
          font-size: 1rem; } }
    main div section p {
      width: 75%;
      font-size: 1rem;
      color: #f0ede9; }
      @media (max-width: 450px) {
        main div section p {
          width: 85%; } }

.section-principal {
  background-image: url(../Assets/img/main-fondo.jpg);
  margin-top: 0;
  width: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center; }

footer section {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  margin-top: 2.5rem;
  margin-bottom: 0; }
  @media (max-width: 450px) {
    footer section {
      padding-top: 7px;
      gap: 0; } }
  footer section p {
    color: antiquewhite;
    font-size: .875rem;
    text-align: right;
    margin-left: 20px; }
    @media (max-width: 768px) {
      footer section p {
        font-size: .625rem; } }
    @media (max-width: 450px) {
      footer section p {
        text-align: left;
        width: 80%;
        margin-left: 5px; } }
  footer section h3 {
    color: antiquewhite;
    font-size: .875rem;
    text-align: right;
    margin-right: 20px; }
    @media (max-width: 450px) {
      footer section h3 {
        width: 40%;
        margin-right: 5px;
        text-align: right; } }
    @media (max-width: 330px) {
      footer section h3 {
        font-size: .6875rem; } }

header {
  position: fixed;
  width: 100%;
  height: 65px;
  margin-top: 0px;
  background: black;
  z-index: 3; }
  header section {
    display: flex;
    position: relative;
    justify-content: space-between; }
    header section div {
      display: flex;
      position: relative;
      top: 7px;
      left: 70px;
      height: 55px; }
      @media (max-width: 768px) {
        header section div {
          left: 25px; } }
    header section a img {
      width: 90px; }
  header nav {
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: right;
    flex-direction: row-reverse;
    align-items: center;
    flex-wrap: nowrap;
    position: relative;
    padding: 0 70px;
    z-index: 3; }
    @media (max-width: 450px) {
      header nav {
        height: 35px; } }
    header nav label {
      padding: 10px;
      margin-top: -5px;
      margin-left: 80px;
      cursor: pointer; }
      @media (max-width: 768px) {
        header nav label {
          margin-right: -60px; } }
      @media (max-width: 450px) {
        header nav label {
          margin-top: 25px; } }
    header nav input {
      display: none; }
    header nav ul {
      width: 100%;
      background-image: url(../Assets/img/textura.jpeg);
      background-size: cover;
      position: absolute;
      top: 65px;
      left: -90px;
      display: flex;
      height: 0;
      overflow: hidden;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 1.5rem; }
      @media (max-width: 768px) {
        header nav ul {
          left: -110px; } }
      @media (max-width: 450px) {
        header nav ul {
          left: -90px; } }
      @media (max-width: 380px) {
        header nav ul {
          gap: 10px; } }
      @media (max-width: 330px) {
        header nav ul {
          left: -90px; } }
      header nav ul li {
        list-style: none;
        font-family: sans-serif;
        font-size: 1.5rem; }
        @media (max-width: 450px) {
          header nav ul li {
            margin-right: 30px; } }
        @media (max-width: 330px) {
          header nav ul li {
            font-size: 1rem; } }
      header nav ul a {
        text-decoration: none;
        color: #f0ede9;
        text-shadow: 5px 5px 5px black; }
  header .logo-redes {
    width: 50px; }
    @media (max-width: 380px) {
      header .logo-redes {
        width: 30px; } }

input:checked + ul {
  width: 110%;
  height: 100vh;
  z-index: 3; }
  @media (max-width: 768px) {
    input:checked + ul {
      width: 120%; } }
  @media (max-width: 450px) {
    input:checked + ul {
      width: 130%; } }
  @media (max-width: 330px) {
    input:checked + ul {
      width: 140%; } }

.main-seguros {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  position: relative; }
  .main-seguros section {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .main-seguros section .seguros-h1 {
      font-size: 2rem;
      color: #161515;
      margin-top: 20px; }
    .main-seguros section h3 {
      font-size: 1.5rem;
      width: 50%;
      text-align: center;
      font-weight: lighter;
      margin-top: -10px;
      margin-bottom: 5px; }
      @media (max-width: 380px) {
        .main-seguros section h3 {
          width: 75%; } }
    .main-seguros section p {
      font-size: 1rem;
      width: 40%;
      text-align: center;
      margin-bottom: 40px; }
      @media (max-width: 380px) {
        .main-seguros section p {
          width: 75%; } }
  .main-seguros .cobertura-full {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px; }
    .main-seguros .cobertura-full .conteiner-cobertura {
      display: flex;
      flex-direction: column;
      width: 250px;
      height: 210px;
      text-align: center;
      justify-content: center;
      background-color: rgba(29, 28, 28, 0.584);
      border-radius: 10px;
      color: #ece7e7; }
      .main-seguros .cobertura-full .conteiner-cobertura h2 {
        font-size: 1.5rem;
        margin-top: 40px;
        margin-bottom: -40px; }
      .main-seguros .cobertura-full .conteiner-cobertura p {
        width: 80%;
        font-size: 0.875rem;
        margin: auto; }
  .main-seguros .beneficios-full {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px; }
    .main-seguros .beneficios-full .conteiner-beneficios {
      display: flex;
      flex-direction: column;
      width: 250px;
      height: 210px;
      text-align: center;
      background-color: rgba(29, 28, 28, 0.584);
      border-radius: 10px;
      color: #ece7e7; }
      .main-seguros .beneficios-full .conteiner-beneficios h2 {
        font-size: 1.5rem;
        margin-top: 40px;
        margin-bottom: -40px; }
      .main-seguros .beneficios-full .conteiner-beneficios p {
        width: 80%;
        font-size: 0.875rem;
        margin: auto; }

.beneficios-h2 {
  font-size: 1.5rem; }
  @media (max-width: 380px) {
    .beneficios-h2 {
      text-align: center; } }

.button-seguros {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 30px;
  margin: auto;
  margin-top: 40px;
  background-color: #CC3D1B;
  border: none;
  border-radius: 10px; }
  .button-seguros a {
    color: #f0ede9;
    text-decoration: none; }

body {
  background-color: white; }
  body main {
    font-family: "note sans"; }
    body main section {
      margin-top: 0;
      justify-content: center;
      width: 100%; }
      body main section h2 {
        margin: 40px 30px;
        font-size: 2rem; }
      body main section article {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(6.25rem, 21.875rem));
        grid-template-rows: 18.75rem;
        width: 100%;
        column-gap: 0px;
        row-gap: 40px;
        margin: auto;
        justify-content: center;
        align-self: center;
        z-index: -5;
        margin-bottom: 60px; }
        body main section article div {
          display: flex;
          position: relative;
          width: 75vw;
          max-width: 250px;
          min-width: 100px;
          margin-bottom: -10px;
          height: 300px;
          flex-direction: column;
          align-items: center;
          justify-self: center; }
          body main section article div img {
            width: 90%; }
          body main section article div p {
            position: absolute;
            bottom: -10px;
            right: 25px; }
          body main section article div button {
            position: absolute;
            bottom: -5px; }
            @media (max-width: 450px) {
              body main section article div button {
                bottom: -20px; } }
            body main section article div button a {
              text-decoration: none;
              color: #f1f1f1; }

.descripcion {
  left: 15px;
  top: 2px; }

.button-a, .button-ver-mas, .button-oportunidades {
  border: none;
  border-radius: 5px;
  width: 100px;
  height: 1.5rem;
  padding-top: 1px;
  background-color: #CC3D1B; }

.button-ver-mas {
  display: flex;
  justify-content: center;
  position: relative;
  margin: auto;
  margin-bottom: 10px; }
  @media (max-width: 450px) {
    .button-ver-mas {
      bottom: -5px; } }

.button-ver-mas a {
  text-decoration: none;
  color: antiquewhite; }

#auto:checked ~ #imagenes .motos {
  display: none; }

#manual:checked ~ #imagenes .automatico {
  display: none; }

#automatico:checked ~ #imagenes .manual {
  display: none; }

#fiat:checked ~ #imagenes .renault, #fiat:checked ~ #imagenes .motos {
  display: none; }

#renault:checked ~ #imagenes .fiat, #renault:checked ~ #imagenes .motos {
  display: none; }

#motos:checked ~ #imagenes .auto, #motos:checked ~ #imagenes .renault, #motos:checked ~ #imagenes .fiat {
  display: none; }

input {
  margin-bottom: 30px;
  margin-left: 20px; }

@media (max-width: 450px) {
  .conteiner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 300px !important; }
    .conteiner #imagenes {
      width: 80%; } }

label {
  font-size: 1.125rem; }
  @media (max-width: 380px) {
    label {
      font-size: .875rem; } }
  @media (max-width: 330px) {
    label {
      font-size: .6875rem; } }

@media (max-width: 1023px) {
  body {
    display: grid;
    grid-template-rows: auto 1fr auto; } }

.main-oportunidades {
  width: 100dvh;
  height: 100vh;
  margin: auto;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center; }

.titulo-oportunidades {
  font-weight: bolder;
  padding-top: 85px;
  margin-left: 30px;
  margin-bottom: 80px;
  font-size: 2rem; }

.section-oportunidades {
  width: 90%;
  margin: auto; }
  .section-oportunidades article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px; }

.img-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  align-items: center; }
  .img-box .price {
    position: absolute;
    bottom: -15px;
    right: 25px; }

.descripcion {
  width: 200px;
  margin-top: 15px;
  text-align: left; }

.button-oportunidades {
  position: absolute;
  bottom: -20px; }
  .button-oportunidades a {
    margin-top: 50px; }
  @media (max-width: 768px) {
    .button-oportunidades {
      margin-bottom: 20px;
      bottom: -30px; } }

.redes-sociales .redes-wpp {
  position: fixed;
  bottom: 80px;
  left: 20px;
  z-index: 2; }
  @media (max-width: 330px) {
    .redes-sociales .redes-wpp {
      bottom: 64px;
      left: 10px; } }
  @media (max-width: 380px) {
    .redes-sociales .redes-wpp {
      bottom: 62px;
      left: 10px; } }
  @media (max-width: 450px) {
    .redes-sociales .redes-wpp {
      bottom: 62px; } }
  .redes-sociales .redes-wpp a {
    color: white; }
    .redes-sociales .redes-wpp a img {
      width: 50px; }
      @media (max-width: 450px) {
        .redes-sociales .redes-wpp a img {
          width: 30px; } }

.main-gestoria {
  background-color: whitesmoke;
  width: 100%;
  height: 100dvh; }
  @media (max-width: 380px) {
    .main-gestoria {
      height: 100%; } }
  .main-gestoria .section-gestoria {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .main-gestoria .section-gestoria .h1-gestoria {
      font-size: 2rem;
      text-decoration: none; }
    .main-gestoria .section-gestoria .p-gestoria {
      width: 70%;
      font-size: 1.125rem; }
  .main-gestoria .certificado {
    display: flex;
    justify-content: center;
    margin-top: 30px; }
    .main-gestoria .certificado img {
      width: 50%; }

main {
  font-family: sans-serif; }
  main section h1 {
    padding-top: 75px;
    width: 70%;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: underline;
    margin: auto;
    margin-bottom: 20px; }
    @media (max-width: 450px) {
      main section h1 {
        margin: auto;
        margin-bottom: 20px; } }
  main .permutas-section {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto; }
    main .permutas-section .div-listas {
      display: flex;
      position: relative;
      flex-direction: column;
      flex-wrap: wrap;
      width: 550px;
      height: 625px;
      background-color: rgba(250, 235, 215, 0.51);
      border-radius: 20px;
      padding: 0px 20px;
      margin: auto;
      margin: 5px;
      margin-bottom: 20px; }
      @media (max-width: 768px) {
        main .permutas-section .div-listas {
          height: 450px; } }
      @media (max-width: 450px) {
        main .permutas-section .div-listas {
          height: 500px; } }
      @media (max-width: 380px) {
        main .permutas-section .div-listas {
          height: 550px; } }
      @media (max-width: 330px) {
        main .permutas-section .div-listas {
          height: 600px; } }
      main .permutas-section .div-listas h2 {
        width: 40%;
        text-align: left;
        font-size: 1.5rem;
        text-decoration: underline;
        margin-bottom: 20px;
        margin-top: 30px;
        margin-left: 0px; }
        @media (max-width: 450px) {
          main .permutas-section .div-listas h2 {
            margin-bottom: 10px; } }
      main .permutas-section .div-listas .permutas-ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 0px; }
        main .permutas-section .div-listas .permutas-ul .permutas-li {
          width: 100%;
          list-style: none;
          display: flex;
          flex-direction: column; }
          main .permutas-section .div-listas .permutas-ul .permutas-li .permutas-h3 {
            width: 34%;
            margin-top: 2px;
            font-size: 1rem;
            text-align: left;
            font-weight: bold; }
          main .permutas-section .div-listas .permutas-ul .permutas-li .permutas-p {
            width: 100%;
            text-align: left;
            font-size: 0.875rem; }
      main .permutas-section .div-listas button {
        border: none;
        width: 180px;
        border-radius: 5px;
        background-color: #992E14;
        margin: auto;
        margin-top: 20px; }
        main .permutas-section .div-listas button a {
          text-decoration: none;
          color: #f0ede9; }

.button-permuta {
  position: absolute;
  border: none;
  width: 180px;
  border-radius: 5px;
  background-color: #992E14;
  bottom: 60px;
  left: 170px; }
  @media (max-width: 768px) {
    .button-permuta {
      bottom: 30px; } }
  @media (max-width: 450px) {
    .button-permuta {
      bottom: 20px;
      left: 120px; } }
  @media (max-width: 380px) {
    .button-permuta {
      left: 95px; } }
  @media (max-width: 330px) {
    .button-permuta {
      left: 65px; } }
  .button-permuta a {
    text-decoration: none;
    color: #f0ede9; }

main {
  font-family: sans-serif;
  width: 100%;
  padding-top: 30px; }
  @media (max-width: 1023px) {
    main {
      height: 100dvh; } }
  @media (max-width: 768px) {
    main {
      height: 100%; } }
  main .atencion-personalizada {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 40px; }
    main .atencion-personalizada div {
      margin-bottom: 30px; }
      main .atencion-personalizada div h1 {
        font-size: 1.5rem;
        font-weight: bold;
        margin: auto;
        margin-bottom: 10px; }
      main .atencion-personalizada div p {
        width: 75%;
        font-size: 0.875rem;
        margin: auto;
        margin-bottom: 20px; }
    main .atencion-personalizada .div-atencion {
      display: flex;
      position: relative;
      width: 60%;
      height: 580px;
      border-radius: 15px;
      justify-content: center;
      margin: auto;
      margin-top: 10px;
      margin-bottom: 20px;
      padding-top: 20px;
      background-color: rgba(250, 235, 215, 0.51); }
      @media (max-width: 450px) {
        main .atencion-personalizada .div-atencion {
          width: 75%;
          height: 680px; } }
      @media (max-width: 380px) {
        main .atencion-personalizada .div-atencion {
          width: 75%;
          height: 700px; } }
      @media (max-width: 330px) {
        main .atencion-personalizada .div-atencion {
          width: 85%; } }
      main .atencion-personalizada .div-atencion h2 {
        width: 80%;
        font-size: 1rem;
        margin: auto;
        margin-top: 10px;
        text-align: center;
        font-weight: bold; }
      main .atencion-personalizada .div-atencion ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        position: absolute;
        top: 70px; }
        @media (max-width: 330px) {
          main .atencion-personalizada .div-atencion ul {
            left: -10px; } }
        main .atencion-personalizada .div-atencion ul li {
          list-style: none; }
          main .atencion-personalizada .div-atencion ul li h3 {
            font-size: 0.875rem;
            text-align: left;
            width: 250px;
            font-size: .875rem;
            font-weight: bold; }
          main .atencion-personalizada .div-atencion ul li p {
            text-align: left;
            margin-left: 0;
            width: 90%; }
      main .atencion-personalizada .div-atencion button {
        position: absolute;
        border: none;
        width: 180px;
        height: 24px;
        border-radius: 5px;
        background-color: #992E14;
        bottom: 40px;
        padding-top: 1px; }
        @media (max-width: 450px) {
          main .atencion-personalizada .div-atencion button {
            left: 75px;
            bottom: 15px; } }
        @media (max-width: 380px) {
          main .atencion-personalizada .div-atencion button {
            left: 55px; } }
        @media (max-width: 330px) {
          main .atencion-personalizada .div-atencion button {
            left: 45px; } }
        main .atencion-personalizada .div-atencion button a {
          text-decoration: none;
          color: #f0ede9; }

.main-contacto {
  font-family: sans-serif; }
  .main-contacto section h1 {
    padding-top: 85px;
    text-align: center;
    margin: auto; }
  .main-contacto .contact-section {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .main-contacto .contact-section .container-contacto {
      max-width: 500px;
      margin: 0 auto;
      padding: 10px; }
      .main-contacto .contact-section .container-contacto p {
        width: 75%;
        text-align: center;
        color: #666;
        margin: auto; }
      .main-contacto .contact-section .container-contacto .contact-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #dbd7d7b5;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-top: 20px;
        margin-bottom: 20px; }
        .main-contacto .contact-section .container-contacto .contact-form .form-group {
          margin-bottom: 15px; }
          .main-contacto .contact-section .container-contacto .contact-form .form-group .input-text {
            width: 320px;
            margin: auto; }
            @media (max-width: 330px) {
              .main-contacto .contact-section .container-contacto .contact-form .form-group .input-text {
                width: 280px; } }
          .main-contacto .contact-section .container-contacto .contact-form .form-group textarea:focus {
            outline: none;
            border-color: #007bff;
            background-color: #fff; }
          .main-contacto .contact-section .container-contacto .contact-form .form-group textarea {
            height: 150px;
            width: 320px;
            resize: none;
            padding: 5px; }
            @media (max-width: 330px) {
              .main-contacto .contact-section .container-contacto .contact-form .form-group textarea {
                width: 280px; } }

.button-contacto {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 90%; }

.button-contacto:hover {
  background-color: #8ba814; }

iframe {
  margin: auto;
  margin-top: 30px; }
  @media (max-width: 380px) {
    iframe {
      width: 95%; } }
  @media (max-width: 330px) {
    iframe {
      margin-left: 8px; } }

main {
  position: relative; }
  main .volver-arriba a img {
    position: fixed;
    bottom: 80px;
    right: 20px;
    transform: rotate(-90deg);
    width: 50px;
    z-index: 2; }
    @media (max-width: 330px) {
      main .volver-arriba a img {
        bottom: 64px;
        right: 8px; } }
    @media (max-width: 380px) {
      main .volver-arriba a img {
        bottom: 62px;
        right: 8px; } }
    @media (max-width: 450px) {
      main .volver-arriba a img {
        width: 30px;
        bottom: 62px; } }
