
$colores-sitio: (
    color1: #7F2213,
    color2: #992E14,
    color3: #CC3D1B,
    color4: black,
    color5: rgb(178, 177, 177),
    color6: rgba(29, 28, 28, 0.584),
);

$colores-texto: (
    color1: rgb(240, 237, 233),
    color2: rgb(22, 21, 21),
);

$text-size: (
    size: 4rem,
    size1: 3rem,
    size2: 2.5rem,
    size3: 2rem,
    size4: 1.5rem,
    size5: 1rem,
    size6: .875rem,
    size7: .6875rem,
    size8: .5rem,
)