// * {
//     border: 0.5px solid red;
// }

footer {
    section {
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: black;
        margin-top: 2.5rem;
        margin-bottom: 0;
        // padding-top: 0px;
        // gap: 20px;

        // @include tabletxl {
        //     position: absolute;
        //     bottom: 0;
        // }

        @include promax {
            padding-top: 7px;
            gap: 0;
        }
            p {
                color: antiquewhite;
                font-size: .875rem;
                text-align: right;
                margin-left: 20px;

                @include tablet {
                    font-size: .625rem;
                }

                @include promax {
                    text-align: left;
                    width: 80%;
                    margin-left: 5px;
                }
                
            }
            h3 {
                color: antiquewhite;
                font-size: .875rem;
                text-align: right;
                margin-right: 20px;

                @include promax {
                    width: 40%;
                    margin-right: 5px;
                    text-align: right ;
                }

                @include mini {
                    font-size: .6875rem;
                }
            }
    }
}


