// * {
//     border: 1px solid red;
// }

main {
    padding-top: 0;
    div {
        section{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 836px;
            align-items: center;
            justify-content: center;
            background-color: rgba(0, 0, 0, 0.727);
            gap: 10px;
            h1 {
                font-size: map-get($text-size , size );
                color: map-get($colores-texto ,color1 );
                margin-top: -20px;
                
                @include promax {
                    font-size: map-get($text-size , size1 );
                    padding-top: 0;
                    margin-top: 100px;
                }
                @include se {
                    margin-top: 50px;
                }

                @include mini {
                    font-size: 2.125rem;
                }
            }
            h2 {
                font-size: map-get($text-size , size4 );
                color: map-get($colores-texto ,color1 );
                text-align: center;

                @include mini {
                    font-size: 1rem;
                }
            }
            p {
                width: 75%;
                font-size: map-get($text-size , size5 );
                color: map-get($colores-texto ,color1 );

                @include promax {
                   width: 85%;
                }
                
            }
        }   
    }
}

.section-principal {
    background-image: url(../Assets/img/main-fondo.jpg);
    margin-top: 0;
    width: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
}