
.main-contacto {
    font-family: sans-serif;
    section {
        h1 {
            padding-top: 85px;
            text-align: center;
            margin: auto;
        }
    }
   
    .contact-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        .container-contacto {
            max-width: 500px;
            margin: 0 auto;
            padding: 10px;
            p {
                width: 75%;
                text-align: center;
                color: #666;
                margin: auto;
            }
            .contact-form {
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: #dbd7d7b5;
                padding: 20px;
                border-radius: 10px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                margin-top: 20px;
                margin-bottom: 20px;
                .form-group {
                    margin-bottom: 15px;
                    .input-text {
                        width: 320px;
                        margin: auto;
                        @include mini {
                            width: 280px;
                        }
                    }
                    textarea:focus {
                        outline: none;
                        border-color: #007bff;
                        background-color: #fff;
                    }
                    textarea {
                        height: 150px;
                        width: 320px;
                        resize: none;
                        padding: 5px;

                        @include mini {
                            width: 280px;
                        }
                    }
                    
                }
            }
        }
    }
    
}

.button-contacto {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 90%;
}
.button-contacto:hover {
    background-color: #8ba814;
}

iframe {
    margin: auto;
    margin-top: 30px;

    @include se {
        width: 95%;
    }

    @include mini {
        margin-left: 8px;
    }
}