// * {
//     border: 1px solid red;
// }

main {
    .contact-form { 
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        
        div {
            .nombre {
                margin-left: 0;
            }
            .apellido {
                margin-left: 0;
            }
        }
        div {
            .email{
                margin-left: 0;
            }
        }
        div {
            textarea {
            }
        }
        .submit {
            margin-top: 10px;
        }
        div {
            display: flex;
            justify-content: right;
            iframe {
            }
        }
    }
}