.main-gestoria {
    background-color: whitesmoke;
    width: 100%;
    height: 100dvh;

    @include se {
        height: 100%;
    }
    .section-gestoria {
        display: flex;
        flex-direction: column;
        align-items: center;
        .h1-gestoria {
            font-size: 2rem;
            text-decoration: none;
        }
        .p-gestoria {
            width: 70%;
            font-size: 1.125rem;
        }
    }
    .certificado {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        img {
            width: 50%;
        }
    }
}