// * {
//     border: 0.5px solid red;
// }

#auto:checked ~ #imagenes .moto {
    display: none;
}

#manual:checked ~ #imagenes .automatico {
    display: none;
}

#automatico:checked ~ #imagenes .manual, #automatico:checked ~ #imagenes .moto {
    display: none;
}

#fiat:checked ~ #imagenes .renault, #fiat:checked ~ #imagenes .moto{
    display: none;
}

#renault:checked ~ #imagenes .fiat, #renault:checked ~  #imagenes .moto {
    display: none;
}

#motos:checked ~ #imagenes .auto, #motos:checked ~ #imagenes .renault, #motos:checked ~ #imagenes .fiat {
    display: none;
}
// .body-grid {
//     display: grid;
//     grid-template-rows: auto 1fr auto;
//     height: 100dvh;
// }
.nuestras-unidades-main > * {
    height: 100%;
    width: 100%;
    margin:auto;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 40px;
}

input {
    margin-bottom: 30px;
    margin-left: 20px;
}

.container-grid {
    width: 95%;
    margin: auto;
    margin-bottom: 200px;
    padding-top: 65px;
    
    .display-grid {
        width: 90%;
        height: 110px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3,1fr);
        margin-bottom: 60px;
        margin: auto;
        background-color: rgb(255, 255, 255);
        font-family: sans-serif;

        @include tabletxl {
            grid-template-columns: repeat(3, 400px);
        }
        @include promax {
            grid-template-columns: repeat(1, 400px);
            // grid-template-rows: repeat(12,1fr);
        }
        
        .descripcion-grid{
            width: 280px;
            height: 350px;
            margin-left: 30px;
            margin-bottom: 20px;
            .versys {
                position: relative;
                img{
                    width:250px;        
                }
                p {
                    position: absolute;
                    bottom: 10px;
                    color: black;                 
                    right: 40px;
                    width: 80px;
                }
            }
            div {
                p {
                    margin-left: 10px;
                    margin-top: 3px;
                    color: black;
                }
            }
            .button-b {
                margin-top: 10px;
                margin-left: 80px;
                @extend .button-a;
                &:hover {
                    margin-left: 70px;
                }
                a {
                    text-decoration: none;
                    color: rgb(255, 252, 252);
                }
            }
        }
    }
}

// footer {
//     grid-row: 3/4;
// }

label {
    font-size: 1.125rem;
    @include se {
        font-size: .875rem;
    }
    @include mini {
        font-size: .6875rem;
    }
}


