// * {
//     border: 0.5px solid red;
// }

#auto:checked ~ #imagenes .motos {
    display: none;
}

#manual:checked ~ #imagenes .automatico {
    display: none;
}

#automatico:checked ~ #imagenes .manual {
    display: none;
}

#fiat:checked ~ #imagenes .renault, #fiat:checked ~ #imagenes .motos{
    display: none;
}

#renault:checked ~ #imagenes .fiat, #renault:checked ~  #imagenes .motos {
    display: none;
}

#motos:checked ~ #imagenes .auto, #motos:checked ~ #imagenes .renault, #motos:checked ~ #imagenes .fiat {
    display: none;
}

.nuestras-unidades-main  {
    height: 100%;
}

input {
    margin-bottom: 30px;
    margin-left: 20px;
    // @include promax {
    //      width: 30px;
    // }
}
.conteiner {
    @include promax {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 300px !important;
        #imagenes {
            width: 80%;
        }
    }
}
label {
    font-size: 1.125rem;

    @include se {
        font-size: .875rem;
    }

    @include mini {
        font-size: .6875rem;
    }
}

