#auto:checked ~ #imagenes .motos {
    display: none;
}

#manual:checked ~ #imagenes .automatico {
    display: none;
}

#automatico:checked ~ #imagenes .manual {
    display: none;
}

#fiat:checked ~ #imagenes .renault, #fiat:checked ~ #imagenes .motos{
    display: none;
}

#renault:checked ~ #imagenes .fiat, #renault:checked ~  #imagenes .motos {
    display: none;
}

#motos:checked ~ #imagenes .auto, #motos:checked ~ #imagenes .renault, #motos:checked ~ #imagenes .fiat {
    display: none;
}

input {
    margin-bottom: 30px;
    margin-left: 20px;
}

label {
    font-size: 1.125rem;
}

.separador {
    width: 100%;
    height: 10px;
    background-color: gray;
    margin-bottom: 50px;
}
