// * {
//     border: 0.5px solid red;
// }

main {
    font-family: sans-serif;
    section {  
    h1 {
        padding-top: 75px;
        width: 70%;
        text-align: center;
        font-size: map-get($text-size , size4 );
        text-decoration: underline;
        margin-bottom: 20px;

        @include promax {
            margin: auto;
            margin-bottom: 20px;
        }
    }
}
    .permutas-section {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap ;
    margin: auto;
    
    .div-listas {
        display: flex;
        position: relative;
        flex-direction: column;
        flex-wrap: wrap;
        width: 550px;
        height: 625px;
        background-color: rgba(250, 235, 215, 0.51);
        border-radius: 20px;
        padding: 0px 20px;
        margin: auto;
        margin: 5px;

        @include tablet {
            height: 450px;
        }

        @include promax {
            height: 500px;
        }

        @include se {
            height: 550px;
        }

        @include mini {
            height: 600px;
        }

        h2 {
            width: 40%;
            text-align: left;
            font-size: map-get($text-size , size4 );
            text-decoration: underline;
            margin-bottom: 20px;
            margin-top: 30px;
            margin-left: 0px;
            
            @include promax {
                margin-bottom: 10px;
            }
        }
        .permutas-ul {
            width: 100%;
            display: flex;
            flex-direction: column;
            // justify-content: center;
            margin-top: 0px;
            .permutas-li {
                width: 100%;
                list-style: none;
                display: flex;
                flex-direction: column;
                .permutas-h3 {
                    width: 34%;
                    margin-top: 2px;
                    font-size: map-get($text-size , size5 );
                    text-align: left;
                    font-weight: bold;
                }
                .permutas-p {
                    width: 100%;
                    text-align: left;
                    font-size: map-get($text-size , size6 );
                }
            }
        }
        button {
            border: none;
            width: 180px;
            border-radius: 5px;
            background-color: map-get($colores-sitio , color2 );
            margin: auto;
            margin-top: 20px;
            a {
                text-decoration: none;
                color: map-get($colores-texto , color1 );
            }
        }
        }

    }
}

.button-permuta {
            position: absolute;
            border: none;
            width: 180px;
            border-radius: 5px;
            background-color: map-get($colores-sitio , color2 );
            bottom: 60px;
            left: 170px;

            @include tablet {
                bottom: 30px;
            }

            @include promax {
                bottom: 20px;
                left: 120px;
            }

            @include se {
                left: 95px;
            }
            
            @include mini {
                left: 65px;
            }
            a {
                text-decoration: none;
                color: map-get($colores-texto , color1 );
            }
}
