// * {
//     border: 1px solid red ;
// }

.redes-sociales {
    .redes-wpp {
        position: fixed;
        bottom: 80px;
        left: 20px;
        z-index: 2;
        @include mini {
            bottom: 64px;
            left: 10px;
        }
        @include se {
            bottom: 62px;
            left: 10px;
        }

        @include promax {
            bottom: 62px;
        }
        a {
            color: white;
            img {
                width: 50px;
                
                @include promax {
                    width: 30px;
                }
            }
        }
    }
}