.main-seguros {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100dvh;
    margin: 0;
    position: relative;
    @include tablet {
        height: 100%;
    }
    
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        .seguros-h1 {
            font-size: map-get($text-size , size3 );
            color: map-get($colores-texto , color2 );
            margin-top: 20px;
        }
        h3 {
            font-size: map-get($text-size, size4 );
            width: 50%;
            text-align: center;
            font-weight: lighter;
            margin-top: -10px;
            margin-bottom: 5px;
            @include se {
                width: 75%;
            }
        }
        p {
            font-size: map-get($text-size , size5 );
            width: 40%;
            text-align: center;
            margin-bottom: 40px;
            @include se {
                width: 75%;
            }
        }
    }
    .cobertura-full {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        gap: 20px ;
        .conteiner-cobertura {
            display: flex;
            flex-direction: column;
            width: 250px;
            height: 210px;
            text-align: center;
            justify-content: center;
            background-color: map-get($colores-sitio , color6 );
            border-radius: 10px;
            color: rgb(236, 231, 231);
            h2 {
                font-size: map-get($text-size , size4 );
                margin-top: 40px;
                margin-bottom: -40px;
                
            }
            p {
                width: 80%;
                font-size: map-get($text-size , size6 );
                margin: auto;
            }
        }
    }
    .beneficios-full {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        gap: 20px;
        .conteiner-beneficios {
            display: flex;
            flex-direction: column;
            width: 250px;
            height: 210px;
            text-align: center;
            background-color: map-get($colores-sitio , color6 );
            border-radius: 10px;
            color:  rgb(236, 231, 231);
            h2 {
                font-size: map-get($text-size , size4 );
                margin-top: 40px;
                margin-bottom: -40px;
            }
            p {
                width: 80%;
                font-size: map-get($text-size , size6 );
                margin: auto;
            }
        }
    }
}

.beneficios-h2 {
    font-size: map-get($text-size , size4 );
    @include se {
        text-align: center;
    }

}

.button-seguros {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 30px;
    margin: auto;
    margin-top: 40px;
    background-color: map-get($colores-sitio , color3 );
    border: none;
    border-radius: 10px;
    a{
        color: map-get($colores-texto , color1 );
        text-decoration: none;
    }
}