// * {
//     border: 0.5px solid red;
// }
main {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    width: 100%;
    margin: 0;
    padding-top: 85px;
    padding-bottom: 125px;
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        .seguros-h1 {
            font-size: map-get($text-size , size3 );
            color: map-get($colores-texto , color2 );
            margin-top: 20px;
        }
        h3 {
            font-size: map-get($text-size, size4 );
            width: 30%;
            text-align: center;
            font-weight: lighter;
            margin-top: -10px;
            margin-bottom: 5px;
        }
        p {
            font-size: map-get($text-size , size5 );
            width: 25%;
            text-align: center;
            margin-bottom: 40px;
        }
    }
}

.beneficios-h2 {
    font-size: map-get($text-size , size4 );

}

.cobertura-full {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px ;
    .conteiner-cobertura {
        display: flex;
        flex-direction: column;
        width: 250px;
        height: 210px;
        text-align: center;
        justify-content: center;
        background-color: map-get($colores-sitio , color6 );
        border-radius: 10px;
        color: rgb(216, 212, 212);
        h2 {
            font-size: map-get($text-size , size4 );
            margin-top: 50px;
            margin-bottom: -60px;
        }
        p {
            width: 80%;
            font-size: map-get($text-size , size6 );
            margin: auto;
        }
    }
}

.beneficios-full {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    .conteiner-beneficios {
        display: flex;
        flex-direction: column;
        width: 250px;
        height: 210px;
        text-align: center;
        background-color: map-get($colores-sitio , color6 );
        border-radius: 10px;
        color: rgb(216, 212, 212);
        h2 {
            font-size: map-get($text-size , size4 );
            margin-top: 50px;
            margin-bottom: -50px;
        }
        p {
            width: 80%;
            font-size: map-get($text-size , size6 );
            margin: auto;
        }
    }
}

.button-seguros {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 30px;
    margin: auto;
    margin-top: 40px;
    background-color: map-get($colores-sitio , color3 );
    border: none;
    border-radius: 10px;
    a{
        color: map-get($colores-texto , color1 );
        text-decoration: none;
    }
}
