body {
    // background-color: map-get($colores-sitio , color5 );
    background-color: rgb(255, 255, 255);
    main {
        font-family: $font-text ;
        section {
            margin-top: 0;
            justify-content: center;
            width: 100%;
            h2 {
                margin: 40px 30px;
                font-size: map-get($text-size, size3 );
            }
            article  {
                display: grid;
                grid-template-columns: repeat( auto-fill, minmax(6.25rem, 21.875rem));
                grid-template-rows: 18.75rem;
                width: 100%;
                column-gap: 0px;
                row-gap: 40px;
                margin:auto;
                justify-content: center;
                align-self: center;
                z-index: -5;
                margin-bottom: 60px;
                div {
                    display: flex;
                    position: relative;
                    width: 75vw;
                    max-width: 250px;
                    min-width: 100px;
                    margin-bottom: -10px;
                    height: 300px;
                    flex-direction: column;
                    align-items: center;
                    justify-self: center;
                    img {
                        width: 90%;
                        ;
                    }
                    p {
                        position: absolute;
                        bottom: -10px;
                        right: 25px;
                    }
                    button {
                        position: absolute;
                        border: none;
                        border-radius: 5px;
                        bottom: -5px;
                        width: 100px;
                        height: 1.5rem;
                        padding-top: 1px;
                        // background-color: map-get($colores-sitio , color1 );
                        background-color: map-get($colores-sitio , color3 );
                        @include promax {
                            bottom: -20px;
                        }
                        a {
                            text-decoration: none;
                            color: rgb(241, 241, 241);
                        }
                    }
                }
            }
        }
    }
}

    .descripcion {
        left: 15px;
        top: 2px;
        
    }

    .button-ver-mas {
        display: flex;
        justify-content: center;
        position: relative;
        border: none;
        border-radius: 5px;
        width: 100px;
        height: 1.5rem;
        background-color: map-get($colores-sitio , color3 );
        margin: auto;
        margin-bottom: 10px;

        @include promax {
            bottom: -5px;
        }
        
    }

    .button-ver-mas a {
        text-decoration: none;
        color: antiquewhite;
    }


